<div class="header">
  <div class="container">
    <a class="header__logo" href="<%= base %>/">
      React BabylonJS
    </a>
        <span class="header__author">
          made with &nbsp;♥
        </span>
    <% if (path === '/') { %>
    <div class="header__hero">
      <img class="header__hero-img" src="<%= base %>/img/logo-babylonjs.svg" alt="React BabylonJS" />
      <h1 class="header__hero-title">Integrate React/Redux with BabylonJS</h1>
      <p class="header__hero-desc">React BabylonJS is a library for integrating React/Redux with BabylonJS</p>
      <%- include('stats'); %>
      <a class="header__hero-btn" href="<%= base %>/getting-started">Get Started</a>
      <a class="header__hero-btn header__hero-btn--muted" href="https://github.com/brianzinn/react-babylonJS">
        <img class="header__hero-btn-icon" src="<%= base %>/img/github-icon.svg" alt="GitHub" />
        View on GitHub
      </a>
    </div>
    <% } %>
  </div>
</div>
<% if (path === '/') { %>
<div class="header__version">
  <div class="container">
    <span>2017-01-14 &nbsp; | &nbsp; <a href="https://www.npmjs.com/package/react-babylonjs">v0.0.5</a> &nbsp;(<a href="https://github.com/brianzinn/react-babylonJS/blob/master/CHANGELOG.md">changelog</a>)</span>
  </div>
</div>
<% } %>
